.container {
	height:540px;
	width: 540px;
	border: 10px solid #BF3FBF;
	border-radius: 7px;
	margin:auto;

}


.ruutu {
	margin:0px;
	padding:0px;
	float:left;
}


.napit {
	margin:auto;
	background-color: #3F5DBF;
	display: inline-block;
	height:60px;
	width:85px;
	font-family: tahoma;
	font-size: 18px;
	cursor:pointer;
	color:white;

}

#btn {
	margin-left: 650px;
}

#butt {
	height:90px;
}